.CardEcomerce{
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)) ;
  background-color: rgb(109, 36, 158 , 0.7);
   width: 400px;
    padding: 10px;
    border-radius: 20px;

}
.IMGP1{
    width: 400px;
    border-radius: 20px;
   
}
.NameP{
    display: flex;
text-align: center;
color: #fff;
font-size: 25px;
letter-spacing: 3px;
Text-shadow: 0px    4px     1px   rgba(0, 0, 0, 0.9); 
padding: 5px;
}
.TegP1{
  
    display: flex;
    align-items:center;
   gap: 5px;
   font-size: 12px;
    Text-shadow: 0px    1px     1px   rgba(0, 0, 0, 0.9); 
    color: white;
}

.VerP1{
   text-align: center;
   padding: 10px;
}
.ButonP1{
    
    background-color: #a30e7e;;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
}
.htmlP1{
    border: solid 1px black;
    border-radius: 10px;
  padding: 3px;
  background-color: rgb(179, 118, 7);
}

.CssP1{
    border: solid 1px black;
    border-radius: 10px;
  padding: 3px;  
  background-color: rgb(18, 100, 100);
}
.jsP1{
    border: solid 1px black;
    border-radius: 10px;
  padding: 3px;  
  background-color: rgb(164, 167, 8);
}
.ApiP1{
    border: solid 1px black;
    border-radius: 10px;
  padding: 3px;  
  background-color: rgb(194, 110, 194);
}
.ReactP1{
    border: solid 1px black;
    border-radius: 10px;
  padding: 3px;  
background-color: rgb(30, 30, 119);
}

@media screen and (max-width: 430px) {
  .CardEcomerce{

   width: 300px;
    padding: 10px;
    border-radius: 20px;

}
.IMGP1{
    width: 300px;
    border-radius: 20px;
   
}
   
                      
}
       